$blue: #4967ec;
$green: #6dbaa1;
$grey: #aba9bb;
$darkGrey: #35343d;
$red: #e01f41;
$purple: #9f64ff;

$appBG: linear-gradient(to top left, #ffffff, #f0ecec);
$gradBg: linear-gradient(to right bottom, #4967ec, #6167f2, #7767f7, #8b66fb, #9f64ff);
$verticleBG: linear-gradient(to right, #4967ec, #6167f2, #7767f7, #8b66fb, #9f64ff);