$blue: #4967ec;
$green: #6dbaa1;
$grey: #aba9bb;
$darkGrey: #35343d;
$red: #e01f41;
$purple: #9f64ff;

$appBG: linear-gradient(to top left, #ffffff, #f0ecec);
$gradBg: linear-gradient(to right bottom, #4967ec, #6167f2, #7767f7, #8b66fb, #9f64ff);

$borderRadius: 1rem;

@mixin button-base{
	border-radius: $borderRadius;
	border: 0.2rem solid transparent;
	padding: 1rem 2rem;
	margin-top: 1rem;
	font-size: 1.6rem;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.25s;
}

@mixin alert-hidden{
	border-radius: $borderRadius;
	font-size: 1.2rem;
	font-weight: bold;
	color: #ffffff;
	box-shadow: 0 0 0.75rem $darkGrey;
	transform: scale(0,0);
	opacity: 0;
	transition: all 0.25s;
}

@mixin alert-visible{
	border-radius: $borderRadius;
	font-size: 1.2rem;
	font-weight: bold;
	color: #ffffff;
	margin: 2rem 0 0 0;
	padding: 1rem;
	box-shadow: 0 0 0.75rem $darkGrey;
	transform: scale(1,1);
	opacity: 1;
	transition: all 0.25s;
}

@mixin input-base{
	padding: 1rem 2rem;
	margin: 1rem 0;
	border-radius: $borderRadius;

	&:active, &:focus, &:focus-visible{
		outline: none;
	}
}