{
    "extends":[
        "eslint:recommended",
        "plugin:svelte/recommended"
    ],
    "env": {
      "es6": true
    },
    "parserOptions": {
      "ecmaVersion": 2022,
      "sourceType": "module"
    },
    "rules": {
		"arrow-spacing": [
			"warn",
			{
			  "after": true,
			  "before": true
			}
		  ],
		  "brace-style": [
			"error",
			"allman",
			{
			  "allowSingleLine": true
			}
		  ],
		  "comma-dangle": [
			"error",
			"always-multiline"
		  ],
		  "comma-spacing": [
			"error",
			{
			  "after": true
			}
		  ],
		  "curly": "off",
		  "dot-location": [
			"error",
			"property"
		  ],
		  "eqeqeq": "error",
		  "handle-callback-err": "off",
		  "indent": [
			"warn",
			"tab",
			{
			  "CallExpression": {
				"arguments": 0
			  },
			  "FunctionDeclaration": {
				"body": 1,
				"parameters": "first"
			  },
			  "FunctionExpression": {
				"body": 1,
				"parameters": "first"
			  },
			  "MemberExpression": 0,
			  "SwitchCase": 1,
			  "VariableDeclarator": "first"
			}
		  ],
		  "max-nested-callbacks": [
			"error",
			{
			  "max": 4
			}
		  ],
		  "max-statements-per-line": [
			"error",
			{
			  "max": 2
			}
		  ],
		  "no-mixed-spaces-and-tabs": "off",
		  "no-console": "off",
		  "no-constant-condition": 1,
		  "no-empty": "warn",
		  "no-empty-function": "warn",
		  "no-floating-decimal": "error",
		  "no-lonely-if": "off",
		  "no-redeclare": 1,
		  "no-shadow": [
			"off"
		  ],
		  "no-trailing-spaces": "off",
		  "no-undef": "off",
		  "no-unreachable": "warn",
		  "no-unused-vars": 0,
		  "no-var": "warn",
		  "object-curly-spacing": [
			"error",
			"always"
		  ],
		  "prefer-const": "off",
		  "quotes": [
			"error",
			"double",
			{
			  "allowTemplateLiterals": true
			}
		  ],
		  "semi": "error",
		  "space-before-blocks": "off",
		  "space-before-function-paren": "off",
		  "space-in-parens": "off",
		  "svelte/no-at-debug-tags": "off",
		  "svelte/valid-compile": [
			"error",
			{
			  "ignoreWarnings": true
			}
		  ],
		  "yoda": "warn"
	}
}