:root
{
	/* TODO -- Implement SASS*/
	/* Custom Variables */

	/* Color Pallet */
	--purple: #62609F;
	--purpleDark: hsl(242, 25%, 45%);
	--magenta: #9F607D;

	/* Width/Height*/
	--maxWidth: 100%;
	--headerWidth: 95%;
	--headerHeight: 5%;
	--contentPadding: 4.5rem;

	/* Colors */
	--bgGrad: linear-gradient(to left bottom, #6e6085, #675b7b, #605572, #5a5068, #534b5f, #585063, #5d5667, #625b6b, #746d7e, #888092, #9b94a6, #afa8ba);
	--secondaryGrad: linear-gradient(to left top, var(--purple), var(--magenta));
	--buttonBG: linear-gradient(to left top, var(--monoPurple), var(--magenta));
	--buttonBorder: var(--purpleDark);

	/* End Custom Varialbes */

	/* Defining Root properties*/
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 10px;
	line-height: 1.8rem;
	font-weight: 400;

	color: #ffffff;
	max-width: var(--maxWidth);
	font-synthesis: none;
	text-rendering: optimizeLegibility;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

*::-webkit-scrollbar
{
	display: none;
}

#app
{
	height: 100vh;
	background-image: linear-gradient(to right top, #6e6085, #655978, #5c526c, #534b5f, #4a4453);
}

*
{
	font-size: 1.6rem;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

main
{
	padding-top: calc(var(--headerHeight) + var(--contentPadding));
	width: var(--headerWidth);
}

input
{
	padding: 1rem 2rem;
	margin: 1.5rem 0;
}

button,
input
{
	color: white;
	border-radius: 0.8rem;
	border: 0.3rem solid transparent;
	padding: 1.6rem 2rem;
	margin-top: 1.6rem;
	font-size: 1.6rem;
	font-weight: 500;
	font-family: inherit;
	background-color: var(--buttonBG);
	cursor: pointer;
	transition: border-color 0.25s;
}

button:hover,
input:hover
{
	border-color: var(--buttonBorder);
}

button:focus,
button:focus-visible,
input:focus,
input:focus-visible
{
	outline: 0.2rem solid var(--buttonBorder);
}